.root {
    -fx-background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrXpdA8lLh-laTS5Bt7YgfQezd_6mBpPsi1MtPDd20061z7anRZw");
    -fx-padding: 20;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

.button:hover {
    -fx-background-color: lightpink;
}

.stackPane {
    -fx-background-color: #FFFFFF;
}

.DayText {
    -fx-font: 17px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-alignment: center;
    -fx-font-weight: bold;

}

.HeaderText {
    -fx-font: 10px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-alignment: center;

}

.choice-box {
    -fx-padding: 1 22 1 22;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.specialButton {
    -fx-alignment: center-left;
    -fx-border-color: black;
    -fx-background-color: transparent;
}

.gridBox{
    -fx-background-color: white;



}

.specialButton:hover{
    -fx-background-color: lightpink;
    -fx-opacity: 50%;

}

.VBox {
    -fx-alignment: center-left;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-padding: 5;
    -fx-border-width: 2;
}

.DailyHeader{
    -fx-font: 30px Tahoma;
    -fx-stroke: black;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.borderPane{
    -fx-padding: 15 0 0 0;
    -fx-border-width: 2;
}

.VBoxSpecial {

    -fx-padding: 0 0 0 15;
}

.VBoxHeader {
    -fx-font: 20px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #ffc7bb 0%, #a0ffbf 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
    -fx-alignment: center;
}
